<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.ckb.listener.RetryListener" />
        <listener class-name="com.ckb.listener.ITestListenerDefined" />
    </listeners>
    <test name="Test">
        <classes>
            <class name="feature.rpc.v0106.estimateCyclesTest"/>
            <class name="feature.rpc.v0106.getBlockByNumberTest"/>
            <class name="feature.rpc.v0106.getBlockTest"/>
            <class name="feature.rpc.v0106.getFeeRateStaticsTest"/>
            <class name="feature.rpc.v0106.getTransactionTest"/>
            <class name="feature.rpc.v0107.getTransactionAndWitnessProof"></class>
            <class name="feature.rpc.v0107.verifyTransactionAndWitnessProof"></class>
            <class name="feature.rpc.v0108.indexerSearchModeTest"></class>
            <class name="feature.rpc.v0108.packedRpcTest"></class>
            <class name="feature.MultisigTest.java"></class>
            
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->